@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.dark {
  @include switchColor($bgSecondaryColor, $mainTextColor)
}
.light {
  @include switchColor($bgLightSecondaryColor, $textSecondaryColor)
}
.h1TopColorLightTheme {
  color: $textSecondaryColor;
}
.h1TopColorDarkTheme {
  color: rgba(255, 255, 255, 0.8);
}

.header {
  width: 250px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  &.show {
    transform: translate(0, 0);
    transition: 0.35s;
  }
  @media (max-width: 1200px) {
    transition: 0.35s;
    transform: translate(-250px, 0);
    z-index: 222;
  }


  .h1Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    margin-top: 25px;

    .img {
      border: 2px solid #d3d3ac;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      pointer-events: none;
      @media (prefers-reduced-motion: no-preference) {
        animation: img-spin infinite 20s linear;
      }
      @keyframes img-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;

    & a {
      display: flex;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      font-family: 'Noto Sans', sans-serif;
      text-transform: uppercase;
      border-top: 1px solid rgba($textSecondaryColor, 0.3);
      border-bottom: 1px solid rgba($textSecondaryColor, 0.3);
      width: 100%;
      padding: 15px 35px;
      gap: 5px;

      &:hover {
        font-weight: bolder;
      }
    }

    .active {
      color: $primaryColor;
      font-weight: bolder;
    }
  }

  .socialIcons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 0;
    justify-content: center !important;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;

    & a {
      cursor: pointer;
    }
  }
}

//.burgerNav {
//  padding: 15px;
//  display: none;
//  position: fixed;
//  width: 100%;
//  z-index: 11;
//  //background: $bgSecondaryColor;
//  @media (max-width: 1200px) {
//    display: block;
//    left: 0;
//  }
//
//  .show {
//    display: block;
//    left: 0;
//  }
//
//  .togglerMenuOpen {
//    width: 40px;
//    height: 40px;
//    position: relative;
//    border-radius: 0;
//    padding: 0;
//    background: $primaryColor;
//    border: none;
//    margin-left: auto;
//    display: flex;
//    cursor: pointer;
//
//    & span {
//      position: absolute;
//      top: 0;
//      left: 0;
//      bottom: 0;
//      right: 0;
//      width: 25px;
//      height: 2px;
//      margin: auto;
//      box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
//      background: $mainTextColor;
//      color: $mainTextColor;
//    }
//  }
//}