.header {
    width: 250px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: #0c0c14;
}

.h1Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 25px;
}

.img {
    border: 2px solid #d3d3ac;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .img {
        animation: img-spin infinite 20s linear;
    }
}

@keyframes img-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pages {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 120px;
}

.pages a{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    width: 100%;
    padding: 15px 35px;
    gap: 5px;
}

.pages a:hover {
    font-weight: bolder;
}
.pages a:active {
    color: #bf2fbd;
    font-weight: bolder;
}

.socialIcons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 0;
    justify-content: center !important;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
}

.socialIcons a {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .header {
        transition: ease all 0.35s;
        left: -300px;
        z-index: 222;
    }
}
@media (max-width: 1200px) {
    .menuOpen {
        left: 0;
    }
}
.mobHeader {
    padding: 15px;
    display: none;
    position: fixed;
    /*top: 0;*/
    width: 100%;
    z-index: 11;
    /*background: #10101a;*/
    background: yellowgreen;
}

@media (max-width: 1200px) {
    .mobHeader {
        display: block;
    }}

.togglerMenuOpen {
    width: 40px;
    height: 40px;
    position: relative;
    /*margin: 0;*/
    border-radius: 0;
    padding: 0;
    /*margin-left: 15px;*/
    background: #bf2fbd;
    border: none;
    margin-left: auto;
    display: flex;
    cursor: pointer;
}
.togglerMenuOpen span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 2px;
    margin: auto;
    box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
    background: #fff;
    color: #fff;
}