.remoteWork {
    width: 100%;
    height: 30vh;
    background-color: #e3e388;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 150px;
    height: 80px;
    font-size: large;
}