.container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px
}

.button {
    width: 120px;
    height: 40px;
    font-size: medium;
}

@media screen and (min-width: 1180px) {
    .container {
        width: 90%;
    }
}