.main {
    min-height: 100vh;
    /*background-color: #e860e6;*/
    background-color: #10101a;
    display: flex;
    align-items: center;
    padding: 100px 0;
    box-sizing: border-box;
}

.container {
    justify-content: space-between;
    box-sizing: border-box;
}

/*@media screen and (min-width: 992px) {*/
/*    .text {*/
/*        -ms-flex: 0 0 50%;*/
/*        flex: 0 0 50%;*/
/*        max-width: 50%;*/
/*    }*/
/*}*/

.text {
    width: 300px;
    /*background-color: #f6e58f;*/
    padding: 40px 0;
}

.text h6 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}

.text h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
    color: #fff;
}

.text p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
}

.photo {
    width: 400px;
    height: 400px;
    background-image: url("/src/images/myphoto.jpg");
    vertical-align: middle;
    border-style: none;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}


@media screen and (min-width: 992px) {
    .photo {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 874px) {
    .container {
        justify-content: center;
    }
}