@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.light {
  @include switchColor($bgColor, $mainTextColor)
}
.dark {
  @include switchColor($bgLightColor, $mainTextColorDark)
}

.switch {
  position: fixed;
  top: 25px;
  right: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  z-index: 1111;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.5rem;
  @media screen and (max-width: 1200px) {
    top: 80px;
  }
  .moon {
    font-size: 20px;

  }
}