@import "../../styles/sass/variables.scss";

.buttonCV a {
    background: $primaryColor;
    color: $mainTextColor;
    box-shadow: 4px 4px $mainTextColor;
    font-size: 14px;
    padding: 0 25px;
    line-height: 42px;
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
}