@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.dark {
    @include colorMainButton($mainTextColor)
}
.light {
    @include colorMainButton($mainTextColorDark)
}

.buttonCV a {
    background: $primaryColor;
    color: $mainTextColor;
    font-size: 14px;
    padding: 0 25px;
    line-height: 42px;
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}