@import "../../common/styles/sass/variables";

.project {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 10;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;

  .info {
    padding: 20px;
    z-index: 1;
    background: $bgSecondaryColor;
    text-align: center;
    margin: 20px;

    .title {
      font-size: 22px;
      color: $mainTextColor;
      margin: 0 0 4px;
    }

    .description {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .buttons {
    display: flex;

    .button {
      padding: 20px;
      z-index: 1;
      background: $bgSecondaryColor;
      text-align: center;
      width: auto;
      margin: 20px;
      text-decoration: none;
      color: $mainTextColor;
    }
  }

}