$mainTextColor: #fff;
$primaryColor: #bf2fbd;
$bgColor: #10101a;
$bgSecondaryColor: #0c0c14;


$bgLightColor: #fff;
$bgLightSecondaryColor: #f7f7ff;
$mainTextColorDark: #0b0b13;
$textSecondaryColor: #555;