@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.dark {
  @include onlyColorBackground($bgColor)
}
.light {
  @include onlyColorBackground($bgLightColor)
}

.projectsBlock {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .projectsContainer {
    align-items: center;
    padding: 40px 0;
    @media screen and (max-width: 1180px) {
      width: 80%;
    }

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10px;
      @media screen and (max-width: 1019px) {
        justify-content: center;
      }
    }
  }
}